body {
    font-weight: 400;
    font-size: 14px;
    padding-top: 70px;
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #ffa5d8;
    padding-bottom: 0px;
}

.bg-img {
    background: #92ddea;
    background-image: linear-gradient(90deg, transparent 50%, #7eb8da 50%);
    background-size: 52px;
}

.bg-blue {
    background-color: #e2edff;
}

section {
    scroll-margin-top: 6.8em;
    padding: 20px 0;
}

.section-title {
    margin-bottom: 25px;
}

.section-title h2 {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    color: #0c103d;
}

.section-title h2 span {
    position: relative;
    font-size: 20px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 2;
    color: #3764EB;
}

.section-content {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
}

.section-content p span {
    color: #0c103d;
}

.img-about {
    height: 90%;
    display: block;
    margin: auto;
}

.menu .container {
    position: relative;
    z-index: 1;
}

.menu .menu-content {
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 30px rgba(59, 96, 184, 0.1);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}

.menu .menu-content .border-animate .top-border,
.menu .menu-content .border-animate .bottom-border,
.menu .menu-content .border-animate .right-border,
.menu .menu-content .border-animate .left-border {
    position: absolute;
    background-image: linear-gradient(to right, #9579d1, #be9ddf);
    transition: all 0.3s linear;
    opacity: 0;
}

.menu .menu-content .border-animate .top-border,
.menu .menu-content .border-animate .bottom-border {
    width: 100%;
    height: 2px;
    left: 0;
}

.menu .menu-content .border-animate .top-border {
    top: 0;
}

.menu .menu-content .border-animate .bottom-border {
    bottom: 0;
}

.menu .menu-content .border-animate .right-border,
.menu .menu-content .border-animate .left-border {
    width: 2px;
    height: 100%;
    top: 0;
}

.menu .menu-content .border-animate .right-border {
    right: 0;
}

.menu .menu-content .border-animate .left-border {
    left: 0;
}

.menu .itmenu-contentems:hover {
    box-shadow: 0 40px 40px rgba(59, 96, 184, 0.2);
}

.menu .menu-content:hover .top-border,
.menu .menu-content:hover .bottom-border,
.menu .menu-content:hover .right-border,
.menu .menu-content:hover .left-border {
    opacity: 0.8;
}

.menu .menu-content:hover .top-border {
    left: 75%;
}

.menu .menu-content:hover .bottom-border {
    left: -75%;
}

.menu .menu-content:hover .right-border {
    top: 75%;
}

.menu .menu-content:hover .left-border {
    top: -75%;
}

.bg-footer {
    background: #92ddea;
    background-image: linear-gradient(90deg, transparent 50%, #7eb8da 50%);
    background-size: 52px;
}

.realizar-pedido {
    scroll-margin-top: 6.8em;
    padding: 30px 0;
}

.btn-pedido {
    margin-bottom: 15px;
}

.form-title h2 span {
    position: relative;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    color: #3764EB;
}

.sabores {
    font-size: 16px;
}

.adornos {
    font-size: 16px;
}

.pedidos {
    scroll-margin-top: 6.8em;
    padding: 30px 0;
}